#piirintausta {
  position: absolute;
  aspect-ratio: 1 / 1;
  height: 50vh;
  background-image: url(/icons/Piirintausta.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 60px;

}

#piirintausta .piiriosa {
  position: relative;
  z-index: 2;
}

#piirintausta .colcontrol {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

#piirintausta .piirirow {
  padding-inline: 10%;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

#piirintausta .piirirow> :only-child {
  margin-inline: auto;
}

#piirintausta .piirirowreverse> :only-child {
  margin-inline: auto;
}

#piirintausta .piirirowreverse {

  padding-inline: 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 80%;
}

#piirintausta .piiricol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#piirintausta .piiricolreverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}


#yhdyssanapiiri {
  padding-top: 10px;
  width: 75%;
  height: 100vh;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}


#yhdyssanapeli {
  display: flex;

}

#yhdyssanavarasto {
  width: 75%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border: 1px solid var(--dblue);
  justify-items: center;
  align-content: start;
  height: 75%;
  padding-inline: 1rem;
  padding-top: 1rem;
}


#yhdyssanavoitto {
  height: 20vh;
  width: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  color: var(--dblue);
}

#yhdyssanavoitto>div {
  display: flex;
}

#yhdyssanavoitto .iconbutton {
  width: 150%;
  aspect-ratio: 1/1;
}

#yhdyssanavoitto.gg {
  background-color: var(--lblue);
  border: 1px solid var(--dblue);
  margin-top: auto;
  margin-bottom: 2em;
}


@media(width <=1100px) {
  #yhdyssanapeli {
    flex-direction: column;
    align-items: center;
  }

  #yhdyssanapiiri {
    width: 100%;
    height: 120vh;
  }

  #yhdyssanavoitto {
    margin-top: 90vw;
  }

  #yhdyssanavoitto.gg {
    margin-top: 90vw;
  }

  #piirintausta {
    width: 60%;
    height: unset;
  }


  .defaultdrop {
    width: 80%;
    margin-bottom: 10px;
  }

  .defaultdrop h2 {
    display: none;
  }

  .defaultdrop #yhdyssanavarasto {
    height: auto;
    padding: 10px;
  }
}


#difficulty {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: auto;
  padding: 20px;
}

#difficulty>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#difficulty button {
  outline: none;
  height: 2rem;
  width: 100%;
  border: 1px solid var(--dblue);
  background-color: var(--lblue);
  color: var(--dblue);
  font-size: 1rem;
}

#difficulty .start {
  margin-top: 40px;
  background-color: var(--dblue);
  color: var(--lblue);

}
