#piirintausta {
  position: absolute;
  z-index: 0;
  aspect-ratio: 1 / 1;
  height: 60vh;
  background-image: url(/icons/Piirintausta.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 60px;

}

#piirintausta * {
  position: relative;
  z-index: 2;
}

#piirintausta .colcontrol {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

#piirintausta .piirirow {
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

#piirintausta .piirirowreverse {

  flex-direction: row-reverse;
  width: 100%;
}

#piirintausta .piiricol {
  flex-direction: column;
}

#piirintausta .piiricolreverse {
  flex-direction: column-reverse;
}

#piirintausta .piiriosa {
  display: flex;
  justify-content: space-evenly;
}

#yhdyssanapiiri {
  padding-top: 10px;
  width: 75%;
  height: 100vh;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
}

.segment {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left center;
  border-top: 2px dashed #8F8F8F;
  z-index: 1;
}

#yhdyssanapeli {
  display: flex;

}

#yhdyssanavarasto {
  width: 75%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border: 1px solid var(--dblue);
  justify-items: center;
  align-content: start;
  height: 75%;
  padding-inline: 1rem;
  padding-top: 1rem;
}


#yhdyssanavoitto {
  height: 10vh;
  width: 20rem;
}
